# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Django
staticfiles/
media/

# IDE
.idea/
.vscode/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Backups
datos_backup.json
exportar.py

# SQLite (opcional)
*.sqlite3