Django==4.1.13
asgiref==3.11.1
sqlparse==0.5.5
gunicorn==26.0.0
whitenoise==6.12.0
PyMySQL==1.2.0
mysqlclient==2.2.8
mysql-connector-python==9.7.0
django-environ==0.13.0
pillow==12.1.1
reportlab==4.4.10
xhtml2pdf==0.2.17
html5lib==1.1
lxml==6.0.2
Jinja2==3.1.6
MarkupSafe==3.0.3
webencodings==0.5.1
tinycss2==1.5.1
cssselect2==0.9.0
arabic-reshaper==3.0.0
python-bidi==0.6.7
qrcode==8.2
requests==2.32.5
urllib3==2.6.3
certifi==2026.2.25
charset-normalizer==3.4.6
idna==3.11
packaging==26.2
typing_extensions==4.15.0
tzdata==2025.3