/* FONDO GENERAL */
body{
    background: radial-gradient(circle at top, #0f172a, #020617);
    color: #fff;
}
/* CARRUSEL */

.carousel-container{
    overflow:hidden;
    width:100%;
    margin-bottom:40px;
}

.carousel-track{
    display:flex;
    gap:20px;
    animation:scroll 25s linear infinite;
}

.carousel-track img{
    width:260px;
    height:160px;
    object-fit:cover;
    border-radius:10px;
    flex-shrink:0;
    border:2px solid rgba(34,197,94,0.3);
}

/* ANIMACION */
@keyframes scroll{
    0%{ transform:translateX(0); }
    100%{ transform:translateX(-50%); }
}

/* TARJETAS */

.card{
    background:#0b1220;
    border-radius:15px;
    border:1px solid rgba(34,197,94,0.3);
    overflow:hidden;
    transition:0.3s;
    height:100%;
    display:flex;
    flex-direction:column;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 0 20px rgba(34,197,94,0.6);
}

/* IMÁGENES */
.card-img-top{
    width:100%;
    height:200px;
    object-fit:cover;
    object-position:center;
    display:block;
}

/* CONTENIDO */
.card-body{
    flex-grow:1;
}

/* TITULO */
.card-title a{
    color:#22c55e;
    font-weight:bold;
    text-decoration:none;
}

.card-title a:hover{
    color:#4ade80;
}

/* PRECIO */
.text-success{
    color:#00e676 !important;
    font-weight:bold;
}

/* SIDEBAR */

.col-md-3{
    background:#0b1220;
    padding:20px;
    border-radius:15px;
    height:fit-content;
    position: sticky;
    top: 20px;
    border:1px solid rgba(34,197,94,0.3);
}

.col-md-3 h4{
    margin-bottom:20px;
    font-weight:bold;
    color:#22c55e;
}

.col-md-3 button{
    text-align:left;
    font-weight:500;
    width:100%;
    margin-bottom:10px;
    background:transparent;
    border:1px solid #22c55e;
    color:#22c55e;
    border-radius:8px;
    transition:0.3s;
}

.col-md-3 button:hover{
    background:#22c55e;
    color:black;
    box-shadow:0 0 10px #22c55e;
}

/* TARJETAS CONTENEDOR */

.card-container{
    transition:0.3s;
}

.card-container:hover{
    transform:translateY(-5px);
}

/* MODAL */

.modal{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.85);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:999;
}

.modal-content{
    background:#0b1220;
    padding:20px;
    border-radius:15px;
    text-align:center;
    max-width:500px;
    border:1px solid #22c55e;
    box-shadow:0 0 20px rgba(34,197,94,0.6);
}