{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Eliminar Usuario</title>
    <link rel="stylesheet" href="{% static 'usuarios/styles.css' %}">
</head>
<body>

<div class="navbar">
    <h2>GOSport</h2>
    <div>
        <a href="/">Usuarios</a>
    </div>
</div>

<div class="container">

<h1>Eliminar Usuario</h1>

<p>¿Seguro que quieres eliminar a <strong>{{ usuario.username }}</strong>?</p>

<form method="POST">
    {% csrf_token %}
    <button class="btn" type="submit">Sí, eliminar</button>
</form>

<br>
<a class="btn" href="/">Cancelar</a>

</div>

</body>
</html>